.Cards2-heading {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: clamp(2.8rem, 1.7647rem + 3.7647vw, 6rem);
    text-align: center;
    margin-bottom: 0.8em;
    margin-top: 0.6em;
}
.Cards2-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}
.card-1 {
    margin-bottom: 2em;
   
}
.card-1-image-wrapper {
    padding: 0.5em;
    border-radius: 18px;
    background-color: white;
    max-width: 600px;
    overflow: hidden;
}
.card-1-image {
    border-radius: 13px;
    transition: 0.4s;
}
.card-1-image:hover, .card-1-image:active {
    scale: 1.1;
}
.card-1-text {
    padding-top: 0.5em;
    text-align: center;
}
.card-1-para {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

@media (min-width: 1212px) {
    .Cards2-flex {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 3em;
    }
    .card-1 {
        width: 48%;
    }
    
}