@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.hero-heading {
    font-family: 'Lobster', cursive;
    animation: 1s ease-out 0s 1 slideInLeft;
    text-transform: capitalize;
    font-size: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem);
    line-height: 1em;
    color: white;
    padding: 0.5em 0 55px 0;
    
}

.hero-text {
    margin: 0 auto;
    text-align: center;
    color: white;
}
.hero-section {
    padding: 2em 0;
}
.hero-para {
    font-size: clamp(0.9rem, 0.8029rem + 0.3529vw, 1.2rem);
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}
@media (min-width: 900px) {
    .hero-heading {
        padding-bottom: 75px;
    }
}
@media (min-width: 1300px) {
    .hero-heading {
        padding-bottom: 83px;
    }
}