
.navbar {
    background-color: white;    
    background-color: transparent;
    position: -webkit-sticky;
    position: sticky;
}
.logo {
    text-decoration: none;
    font-size: 2rem;
    color: black;
}
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 1em 0;
    justify-content: space-between;
    align-items: center;
}
.menu-icon {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 100%;
    color: white;
}

.nav-menu.active {
  left: 0;
}
.nav-menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 75px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
}
.nav-links {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    display: inline-block;
    width: 100%;
    padding: 2em 0;
}
.nav-links:hover {
    background-color: black;
    color: white;
}
.nav-item {  
    text-align: center;
}
.nav-item:hover {
    border: 1px solid black;
    cursor: pointer;
}

